@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: max(16px, 1vw);
    @apply bg-light;
  }

  .hero-title {
    @apply text-lg lg:text-xl font-bold;
  }

  .title {
    @apply text-lg lg:text-xl font-bold;
  }

  .subtitle {
    @apply text-emerald-600 font-bold uppercase text-base;
  }

  .section {
    @apply min-h-screen flex items-center pt-3
  }

}

@keyframes jump {
  0% {
    transform: translateY(0%);
  }

  30% {
    transform: translateY(-10%);
  }

  100%{
    transform: translateY(0%);
  }
}

body, html {
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

